/*TOOLS*/
.center-line {
    position: absolute;
    height: 100%;
    width: 1px;
    left: calc(50% - 0.5px);
    background-color: white;
    z-index: 10; /*Just a really high number*/
}

/*COMPONENTS*/
.img--responsive {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.main-footer{
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main-footer a{
    color: var(--silver);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
}

.main-footer a:hover{
    background-color: var(--black);
}

.main-footer a:first-child::before{
    content: url('../images/svg/repositary.svg');
    margin-right: 5px;
}

.main-footer a:last-child::after{
    content: url('../images/svg/gallery.svg');
    margin-left: 5px;
}

#home-body{
    height: 100vh;
}

#home-header{
    height: 400px;
    transition: background 1s ease-in-out;
    background-image: url('../images/backgrounds/landscape_1.png');
    background-position: center top;
    background-size: cover;
}

#home-main{
    background-color: var(--obsidian);
    border-top: 2px solid var(--silver);
}