/*TOOLS*/
.center-line {
    position: absolute;
    height: 100%;
    width: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 10; /*Just a really high number*/
    opacity: 0; /*Switch*/
    pointer-events: none;
}

/*COMPONENTS*/
.img--responsive {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

#canvas--particle {
    position: fixed;
    bottom: 0;
    pointer-events: none;
}

.login-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.grid-graph{
    display: grid;
    grid-template-rows: 25px;
    border-radius: 10px;
    border: 2px solid var(--silver-dark);
    width: 90%;
    margin: 10px 0;
    overflow: hidden;
    background-color: var(--obsidian-trans);
    max-width: 600px;
}

.image-swap {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*BODIES*/
.page-body--malachai{
    background-image: url(../images/webp/backgrounds/forest_3.webp);
}

.page-body--geo{
    background-image: url(../images/webp/backgrounds/mountain_2.webp);
}

.page-body--gallery{
    background-image: url(../images/webp/backgrounds/wall_5.webp);
    background-size: auto;
    background-position: center top;
}

.page-body--login{
    background-image: url(../images/webp/backgrounds/wall_2.webp);
    padding-bottom: 50px;
}

/*FOOTERS*/
.main-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    max-height: 50px;
    animation: load__down 2s ease;
}

    .main-footer a{
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 10px;
        transition: 0.2s;
    }

    .main-footer a:hover{
        color: var(--essence);
    }

    .main-footer a:first-child::before{
        content: url('../images/svg/repositary.svg');
        margin-right: 5px;
    }

    .main-footer a:last-child:not(#gallery-repo)::after{
        content: url('../images/svg/gallery.svg');
        margin-left: 5px;
    }

.main-footer--home{
    background: linear-gradient(rgba(0, 0, 0, 0.8) 80%, var(--essence-dark));
}

.main-footer--malachai{
    background: linear-gradient(rgba(0, 0, 0, 0.8) 80%, var(--essence));
}

#elani-footer{
    background: linear-gradient(rgba(0, 0, 0, 0.8) 80%, var(--misty-violet));
}

#roderic-footer{
    background: linear-gradient(rgba(0, 0, 0, 0.8) 80%, var(--royal-silver));
}

.main-footer--idle{
    background: linear-gradient(rgba(0, 0, 0, 0.8) 80%, var(--silver));
}

/*HOME PAGE*/

.home-body__header{
    background-image: url(../images/webp/backgrounds/landscape_1.webp);
    height: 300px;
    transition: background 2s ease-in-out;
    background-position: center top;
    background-size: cover;
}


.home-body__main{
    border-top: 2px solid var(--silver);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    /*grid-template-rows: 50% auto;*/ /*Nahrazeno JS*/
    justify-items: center;
    position: relative;
    padding-bottom: 190px;
}

    .home-body__main > img:first-child{
        position: absolute;
        width: 80%;
        max-width: 800px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
    }


.main-logo{
    width: 60%;
    aspect-ratio: 1/1;
    min-width: 200px;
    max-width: 500px;
    transform: translateY(-50%);
    position: relative;
    animation: load__static 1s ease;
}

    .main-logo img:first-child{
        border-radius: 50%;
        border: 2px solid var(--silver);
        animation: logo__stab 2s ease;
    }

    .main-logo__sword{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        animation: sword__load 2s ease;
        pointer-events: none;
        transition: 0.2s;
        height: 100%;
    }

    .main-logo:hover .main-logo__sword{
        transform: translateX(-50%) translateY(-20px);
    }


.home-body__main__text{
    padding: 0 10%;
    animation: load__down 1s ease;
}

    .home-body__main__text h1{
        font-size: 2rem;
        text-align: center;
    }

    .home-body__main__text h1::after, .home-body__main__text h1::before{
        content: url('../images/svg/underline_2.svg');
        display: block;
    }

    .home-body__main__text h1::before{
        width: calc(100% + 50px);
        rotate: 180deg;
        transform: translateX(25px);
    }

    .home-body__main__text p{
        font-size: 1.5em;
        text-align: center;
    }


.home-body__main__nav menu{
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

    .home-body__main__nav:first-of-type menu{
        animation: load__left 2s ease;
    }

    .home-body__main__nav:last-of-type menu{
        animation: load__right 2s ease;
    }


    .home-body__main__nav li{
        padding: 10px;
        transition: 0.2s;
    }

    .home-body__main__nav li::after{
        content: '';
        display: block;
        border-bottom: 3px double var(--silver);
        margin-top: 5px;
        width: 100%;
    }

    .home-body__main__nav li {
        border-radius: 15px;
    }

    .home-body__main__nav li:not(:has(p)):hover, .home-body__main__nav li:has(p):hover{
        background-color: var(--obsidian-light);
    }

    .home-body__main__nav li:not(:has(p)):hover a{
        color: var(--essence);
    }

    .home-body__main__nav li:has(p):hover p::before, .home-body__main__nav li:has(p):hover p::after{
        color: var(--essence);
    }

    .home-body__main__nav li:has(p){
        position: relative;
    }

    .home-body__main__nav:first-of-type li:has(p){
        border-radius: 0 15px 15px 0;
    }

    .home-body__main__nav:last-of-type li:has(p){
        border-radius: 15px 0 0 15px;
    }


.sub-menu--home {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--obsidian-light);
    padding: 10px;
    transition: 0.2s;
    top: 0;
    border-bottom: 1px solid var(--silver);
    z-index: 1;
}

    .home-body__main__nav:first-of-type .sub-menu--home{
        border-right: 1px solid var(--silver);
        border-radius: 15px 0 15px 15px;
        right: 100%;
    }

    .home-body__main__nav:last-of-type .sub-menu--home{
        border-left: 1px solid var(--silver);
        border-radius: 0 15px 15px 15px;
        left: 100%;
    }

    .sub-menu--home a{
        padding: 5px;
        display: inline-block;
    }

    .sub-menu--home a:hover{
        background-color: var(--obsidian);
        color: var(--essence);
        border-radius: 5px;
    }

    .home-body__main__nav li:has(p):hover .sub-menu--home {
        opacity: 1;
        pointer-events: all;
    }


.home-body__main__nav:first-of-type menu li:has(p) p::before {
    content: '<';
    margin-right: 5px;
}

.home-body__main__nav:last-of-type menu li:has(p) p::after {
    content: '>';
    margin-left: 5px;
}

/*NORMAL PAGE*/

.page-body__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: var(--obsidian-trans);
    margin-bottom: 10%;
    animation: load__up 2s ease;
    z-index: 1;
}

    .page-body__header span, .page-body__header--login span{
        font-size: 1.2em;
    }


.menu-activator{
    display: flex;
    gap: 5px;
    align-items: center;
}


.page-nav--mobile menu{
    position: absolute;
    width: 45%;
    max-width: 250px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    background-color: var(--obsidian);
    top: calc(-1* var(--menu-height));
    transition: 0.5s ease-in-out;
}

    .page-body__header:has(.menu-activator.active) .page-nav--mobile menu{
        top:0;
    }

    .page-body__header:has(.menu-activator.active) .header-cap img:first-of-type{
        top:var(--menu-height); 
    }

    .page-body__header:has(.menu-activator.active) .header-cap img:last-of-type{
        top: calc(var(--menu-height) + 10px);
        rotate: 540deg;
    }

    .page-body__header:has(.menu-activator.active) .header-cap a{
        display: none;
    }


    .header-cap img:first-of-type{
        position: absolute;
        top: 0;
        max-width: 250px;
        width: 45%;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s ease-in-out;
    }

    .header-cap img:last-of-type{
        position: absolute;
        top: 10px;
        width: 10%;
        min-width: 50px;
        max-width: 80px;
        border-radius: 50%;
        border: 1px solid var(--silver);
        left: calc(50% - var(--crown-width)/2);
        transition: 0.5s ease-in-out, rotate 1s;
        z-index: 1;
    }

    .header-cap a{
        width: var(--crown-width);
        aspect-ratio: 1/1;
        position: absolute;
        top: 10px;
        min-width: 50px;
        max-width: 80px;
        left: calc(50% - var(--crown-width)/2);
        z-index: 2;
    }


.page-nav--mobile menu li:not(.sub-li--mobile){
    padding: 5px;
    font-size: 1.2em;
}

    .page-nav--mobile menu li:not(:has(p)):hover{
        background-color: var(--obsidian-light);
    }

    .page-nav--mobile menu li:not(:has(p)):hover a{
        color: var(--essence);
    }


.menu-activator img{
    transition: 0.5s ease-in-out;
}

    .menu-activator.active img{
        transform: rotate(90deg);
    }


.sub-li--mobile{
    padding: 0 5px;
    margin-left: 5px;
    font-size: 0.8em;
}

    .sub-li--mobile::before{
        content: '○';
        margin-right: 5px;
    }

    .page-nav--mobile menu li:has(p) p{
        font-weight: bold;
    }


.page-nav--desktop{
    display: none;
    width: 30%;
}

    .page-nav--desktop menu{
        display: none;
        justify-content: space-between;
        list-style: none;
    }

    .page-nav--desktop li{
        font-size: 1.5em;
        padding: 30px 50px;
    }

    .page-nav--desktop li:not(:has(p)):hover{
        background-color: var(--obsidian-trans-dark);
    }

    .page-nav--desktop li:not(:has(p)):hover a{
        color: var(--essence);
    }

    .page-nav--desktop li:has(p){
        position: relative;
    }

    .page-nav--desktop li:has(p)::after{
        content: '▼';
        text-align: center;
        width: 30px;
        position: absolute;
        top: 65%;
        right: calc(50% - 15px);
    }

    .page-nav--desktop li:has(p):hover::after{
        color: var(--essence);
    }

.sub-menu--page{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 120%;
    top: 100%;
    left: -30px;
    background-color: var(--obsidian-trans);
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid var(--silver);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.2s;
    padding: 10px;
}

    .page-nav--desktop li:has(p):hover .sub-menu--page{
        opacity: 1;
        pointer-events: all;
    }

    .sub-menu--page a{
        padding: 5px;
        font-size: .8em;
        display: inline-block;
    }

    .sub-menu--page a:hover{
        background-color: var(--obsidian-trans-dark);
        border-radius: 10px;
        color: var(--essence);
    }


.page-body__main {
    margin-bottom: 50px;
    animation: load__down 2s ease;
}


.page-content{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: var(--obsidian-trans);
    border-top: 1px solid var(--silver);
    border-radius: 15px;
    padding: 20px;
    position: relative;
}


.page-content__container{
    transition: 0.2s;
}

    .page-content__container > *:not(h3){
        margin-left: 10px;
    }

    .page-content__container > *:not(:last-child){
        margin-bottom: 3px;
    }


.page-body__main__text{
    grid-area: header;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

    .page-body__main__text h1::after, .page-body__main__text h1::before{
        display: block;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .page-body__main__text h1::after{
        content: url('../images/svg/underline_3.svg');
    }

    .page-body__main__text h1::before{
        content: url('../images/svg/underline_3.svg');
    }

    .page-body__main__text p{
        font-size: 1.5em;
    }

/*LOGIN PAGE*/

.page-body__header--login{
    display: block;
    padding: 20px;
    position: relative;
    background-color: var(--obsidian-trans);
    margin-bottom: 10%;
    animation: load__up 2s ease;
}

.header-cap--login img:first-of-type{
    position: absolute;
    top: 0;
    max-width: 250px;
    width: 45%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s ease-in-out;
}

.header-cap--login img:last-of-type{
    position: absolute;
    top: 10px;
    width: 10%;
    min-width: 50px;
    max-width: 80px;
    border-radius: 50%;
    border: 1px solid var(--silver);
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s ease-in-out, rotate 1s;
}


.page-body__main--login {
    display: flex;
    justify-content: center;
    background-color: var(--obsidian-trans);
    
}


.login-window {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    background-color: var(--obsidian);
    padding: 20px;
    border-radius: 25px;
    border-right: 2px solid var(--silver);
    border-left: 2px solid var(--silver);
    width: 80%;
    max-width: 400px;
    animation: load__left 2s ease;
}

    .login-window img{
        width: 90%;
    }

    .login-window img:first-of-type{
        rotate: 180deg;
    }


.login-window__grid{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

    .login-window__grid p{
        text-align: center;
        font-size: 1.2em;
    }

    .login-window__grid form{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .login-window__grid form label{
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .login-window__grid form label:first-of-type::before{
        content: url('../images/svg/user.svg');
    }

    .login-window__grid form label:last-of-type::before{
        content: url('../images/svg/lock.svg');
    }

/* GALLERY PAGE */

.thumbnails {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 10px;
}

.thumbnails--land{
    animation: load__left 2s ease;
}

.thumbnails--royal{
    animation: load__right 2s ease;
}

.thumbnails--land figure{
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
}

.thumbnails--royal figure{
    border-radius: 5px 5px 10px 10px;
    overflow: hidden;
}


.page-content--gallery h2{
    text-align: center;
}

    .page-content--gallery h2::after{
        content: url('../images/svg/underline_1.svg');
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }

    .page-content--gallery figure {
        position: relative;
    }

        .page-content--gallery figure div {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: var(--obsidian-trans);
            border-radius: 5px 5px 0 0;
            display: flex;
            justify-content: space-between;
        }

            .page-content--gallery figure div span {
                padding: 5px;
                text-align: center;
            }


/* MALACHAI PAGE */

.grid-graph--malachai-species{
    grid-template-columns: 74% 22% 4%;
}

    .grid-graph--malachai-species div:nth-of-type(1){
        background: radial-gradient(circle at center, var(--essence-light) 60%, var(--essence) 100%);
        /*background-color: var(--essence);*/
        border-right: 1px solid var(--silver-dark);
    }

    .grid-graph--malachai-species div:nth-of-type(2){
        background-color: var(--royal-silver);
        border-right: 1px solid var(--silver-dark);
    }

    .grid-graph--malachai-species div:nth-of-type(3){
        background-color: var(--misty-violet);
    }


#malachai-physique > p:nth-of-type(4) span{
    color: var(--essence);
}

#malachai-physique > p:nth-of-type(5) span{
    color: var(--royal-silver);
}


#malachai-species > p:nth-of-type(1){
    color: var(--essence);
}

#malachai-species > P:nth-of-type(2) {
    color: var(--royal-silver);
}

#malachai-species > P:last-of-type {
    color: var(--misty-violet);
}

#malachai-species p span{
    color: var(--silver);
}

.page-content--malachai .page-content__container h3 span, .page-content--geography .page-content__container h3 span{
    font-weight: lighter;
}


.grid-graph--malachai-magic{
    grid-template-columns: 90% 10%;
}

    .grid-graph--malachai-magic div:first-of-type{
        background: linear-gradient(90deg, var(--void) 50%, var(--black) 100%);
        border-radius: 0 10px 10px 0;
    }


#malachai-magic > P:first-of-type span{
    color: var(--void-light);
}

#malachai-magic > P:last-of-type span{
    color: var(--royal-silver);
}


.page-content__portrait{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}

    .page-content:has(.image-swap.active) .page-content__portrait, .page-content:has(.image-swap.active) .page-content__portrait--map{
        opacity: 1;
        pointer-events: all;
    }

    .page-content:has(.image-swap.active) .page-content__container {
        opacity: 0;
        pointer-events: none;
    }

/* GEOGRAPHY PAGE */
.page-content--geography{
    padding-bottom: 50px;
}

.grid-graph--geography-population{
    grid-template-columns: 90% 6% 4%;
}

    .grid-graph--geography-population div:nth-of-type(1){
        background-color: var(--royal-silver);
        border-right: 1px solid var(--silver-dark);
    }

    .grid-graph--geography-population div:nth-of-type(2){
        background-color: var(--forest-green);
        border-right: 1px solid var(--silver-dark);
    }

    .grid-graph--geography-population div:nth-of-type(3){
        background-color: var(--beast-yellow);
    }


.page-content--geography #geography-neighbours p:first-of-type span{
    color: var(--rose-crimson);
}

.page-content--geography #geography-neighbours p:nth-of-type(2) span{
    color: var(--forest-green);
}

.page-content--geography #geography-neighbours p:not(:has(span)){
    color: var(--royal-silver);
}

.page-content--geography #geography-population p:first-of-type{
    color: var(--royal-silver);
}

.page-content--geography #geography-population p:nth-of-type(2){
    color: var(--forest-green);
}

.page-content--geography #geography-population p:last-of-type{
    color: var(--beast-yellow);
}

.page-content--geography #geography-population p span{
    color: var(--silver);
}

.page-content--geography #geography-landscape p::before, .page-content--geography #geography-climate p::before{
    content: '○ ';
}


.page-content__portrait--map{
    height: 80%;
    top: 8%;
    border-radius: 10px;
}