@media screen and (min-width: 900px) {
    #malachai-content, #geography-content{
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        align-items: center;
    }

    #malachai-content{
        grid-template-areas: 'title title title' 
                             'species species image' 
                             'magic magic image' 
                             'physic hobbies image'
                             'titles incompetencies image';
    }

    #geography-content{
        grid-template-areas: 'title title title' 
                             'data population image' 
                             'geography climate image' 
                             'neighbours other image';
    }

    #malachai-content h2, #geography-content h2{
        grid-area: title;
        text-align: center;
        font-size: 2rem;
    }

    #malachai-content h2::after, #geography-content h2::after{
        content: url('../images/svg/underline.svg');
        display: block;
        width: 40%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #malachai-content .page-content__container:nth-of-type(1){
        grid-area: species;
    }

    #malachai-content .page-content__container:nth-of-type(2){
        grid-area: magic;
    }

    #malachai-content .page-content__container:nth-of-type(3){
        grid-area: physic;
    }

    #malachai-content .page-content__container:nth-of-type(4){
        grid-area: titles;
    }

    #malachai-content .page-content__container:nth-of-type(5){
        grid-area: hobbies;
    }

    #malachai-content .page-content__container:nth-of-type(6){
        grid-area: incompetencies;
    }

    
    #geography-content .page-content__container:nth-of-type(1){
        grid-area: data;
    }
    
    #geography-content .page-content__container:nth-of-type(3){
        grid-area: population;
    }

    #geography-content .page-content__container:nth-of-type(5){
        grid-area: geography;
    }

    #geography-content .page-content__container:nth-of-type(4){
        grid-area: climate;
    }

    #geography-content .page-content__container:nth-of-type(2){
        grid-area: neighbours;
    }
    

    #malachai-portrait, #geography-map{
        grid-area: image;
        position: initial;
        opacity: 1;
        pointer-events: all;
        transform: none;
        max-height: 700px;
        justify-self: center;
    }

    #geography-map{
        max-width: 100%;
    }

    .image-swap{
        display: none;
    }

}

@media screen and (min-width: 1200px){
    body{
        background-attachment: fixed;
    }

    #home-header{
        height: 45vh;
        background-position: center;
    }

    .home-main__text h1{
        font-size: 3rem;
    }

    .home-main__text h1::after, .home-main__text h1::before{
        content: url('../images/svg/underline_3.svg');
    }

    .home-main__text h1::before{
        rotate: 0deg;
        width: calc(100% + 100px);
        transform: translateX(-50px);
    }

    .home-main__text h1::after{
        margin-top: 10px;
    }

    .home-main__text p{
        font-size: 2em;
    }

    .home-main__nav{
        top: -250px;
    }

    .home-main__nav:first-of-type{
        position: absolute;
        left: calc(50% - 350px);
    }

    .home-main__nav:last-of-type{
        position: absolute;
        right: calc(50% - 350px);
    }

    .home-main__nav menu{
        flex-direction: column;
        gap: 20px;
        height: 250px;
    }

    .home-main__nav:first-of-type li:first-child{
        transform: translateX(40px);
    }

    .home-main__nav:first-of-type li:nth-child(2){
        transform: translateX(-20px);
    }

    .home-main__nav:first-of-type li:last-child{
        transform: translateX(-30px) translateY(10px);
    }

    .home-main__nav:last-of-type li:first-child{
        transform: translateX(-40px);
    }

    .home-main__nav:last-of-type li:nth-child(2){
        transform: translateX(20px);
    }

    .home-main__nav:last-of-type li:last-child{
        transform: translateX(30px) translateY(10px);
    }

    .home-main__nav li{
        padding: 15px;
    }

    .home-main__nav li a, .home-main__nav li p{
        font-size: 1.2em;
    }

    .sub-menu{
        width: 200px;
    }

    .home-main__nav li:not(:has(p)):hover, .home-main__nav li:has(p):hover{
        background-color: var(--obsidian-trans);
    }

    .login-window {
        width: 50%;
        max-width: 800px;
    }

    .login-window__grid{
        grid-template-columns: 1fr 1fr;
    }

    .login-window__grid p{
        font-size: 1.5em;
    }

    .main-text{
        margin-bottom: 2%;
    }

    .main-text h1{
        font-size: 3rem;
    }

    .main-text h1::after, .main-text h1::before{
        max-width: 1000px;
    }

    .main-text p{
        font-size: 1.5em;
    }

    #gallery-content{
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 20px 10%;
    }

    .thumbnails--royal{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .thumbnails--land{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(3, 1fr);
        grid-template-areas: 'title title title' 
                             'images images images' 
                             'images images images' 
                             'images images images';
    }

    .thumbnails--land h2{
        grid-area: title;
    }

    #malachai-content, #geography-content{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px 15%;
    }


}

@media screen and (min-width: 1500px) {
    .sub-menu{
        width: 350px;
        background-color: var(--obsidian-trans);
    }
}

@media screen and (min-width: 1600px) {
    .page-header span:first-child, .menu-activator{
        display: none;
    }

    .page-header{
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .desktop-nav{
        display: inline-block;
    }

    .desktop-nav menu{
        display: flex;
    }

    .menu-cap img:last-of-type{
        transition: rotate 1s;
    }

    .menu-cap:has(a:hover) img:last-of-type{
        rotate: 180deg;
    }

    .page-content__container h3{
        font-size: 1.4rem;}

    .page-content__container p{
        font-size: 1.3em;
    }
}

/*
@media screen and (min-width: 1700px) {
    
    
    #malachai-content, #geography-content{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px 25%;
    }
    
}

*/

@media screen and (max-width: 500px){
    .main-text h1{
        font-size: 1.8rem;
    }

    .main-text p{
        font-size: 1.2em;
    }
};