/*FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*COLOR VARIABLES*/
:root{
    --white: #ffffff;
    --black: #000000;

    --silver: #ececec;
    --silver-dark: #424242;

    --obsidian: #0a0a0a;
    --obsidian-light: #1a1a1a;
    --obsidian-trans: #0a0a0a80;
    --obsidian-trans-dark: #0a0a0a60;

    --essence: #ff9100;
    --essence-light: #ffae00;
    --essence-dark: #8d3d00;

    --misty-violet: #c7b8ff;
    --misty-violet-dark: #6f5cff;

    --royal-silver: #8e8e8e;

    --void: #2a0035;
    --void-light: #a200cf;

    --forest-green: #0ea800;
    --beast-yellow: #ffcc00;
    --rose-crimson: #d30000;
}

/*SCROLLBAR SETUP*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient( var(--obsidian),var(--black));
}

::-webkit-scrollbar-thumb {
    background: var(--obsidian);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 6px var(--essence);
}

/*GENERAL SETUP*/
html {
    font-family: "Lora", serif;
    color: var(--silver);
}

body {
    background: linear-gradient(var(--obsidian) 70%, var(--obsidian-light));
    min-width: 400px;
    min-height: 100vh; /*Subject to discuss*/
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    color: var(--silver);
    text-decoration: none;
}

menu{
    margin: 0;
    padding: 0;
}

figure{
    margin: 0;
}